/*
CSS SPECIFICITY > WHICH CODE WILL BE GIVEN IMPORTANCE
1. ORDER
2. Embedded vs External Stylesheet (Embedded wins)
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ELEMENT SELECTORS - GENERAL STYLINGS */

body{
   /* background-color:antiquewhite;  */
   font-family: 'Poppins', sans-serif;
}

a{
   text-decoration: none;
}

/* CUSTOM CLASSNAME SELECTOR */

/* ***********************************************HEADER SECTION******************************************** */
.header{
   position: relative;
   height: 100vh;
   background-image: linear-gradient(rgba(3,4,7, 0.48),rgba(5,10,30, 0.48)),
   url('../images/pexels-miriam-espacio-1881621.jpg');
   background-size: cover;
}

.header__brand{
   color:#fff;
   font-size: 45px;
   font-weight: 700;
}

.header__brand--span{
   color:#20E700;
}
.header__nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 3% 7%;
}



.header__nav ul li{
   display: inline-block;
   margin: 10px 20px;

}

.header__nav ul li a{
   color: white;
   text-decoration: none;
   font-size: 18px;
}

.header__headings{
   position: absolute;
   /* background-color: darksalmon; */
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #fff;
}
/* ***********************************************ABOUT SECTION******************************************** */


/* ***********************************************PORFOLIO SECTION******************************************** */


/* ***********************************************CONTACT SECTION******************************************** */


/* ***********************************************FOOTER SECTION******************************************** */