/*
CSS SPECIFICITY > WHICH CODE WILL BE GIVEN IMPORTANCE
1. ORDER
2. Embedded vs External Stylesheet (Embedded wins)
*/
*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
body{
   /*background-color:antiquewhite; */
   font-family: 'Poppins', sans-serif;
}

header{
   /*background-color: darksalmon;*/
}

h1{
   /* background-color: darksalmon;
   color: darksalmon;
   display: inline-block;
   height: 100px;
   width: 200px;   
   padding: 20px;*/
}

ul{
  /*background-color: darksalmon;*/

}

li {
   /*background-color:darksalmon;*/
}

.header{
   height: 100vh;
   
}